E-Commerce.API/bin
E-Commerce.API/obj
E-Commerce.App/bin
E-Commerce.App/obj
E-Commerce.Domain/bin
E-Commerce.Domain/obj
E-Commerce.Infrastructure/bin
E-Commerce.Infrastructure/obj
E-Commerce.Tests/bin
E-Commerce.Tests/obj
.vs

